@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-gradient-color: #393636;
}

/* For dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base{
  body {
    @apply dark:bg-[#1A1A1A] bg-white
  }

  #welcome-section {
    @apply dark:bg-[#1d1d1d] bg-[#C4C8B8]
  }

  .timeline-left-container-arrow {
    @apply dark:border-l-custom-dark;
  }
  .timeline-right-container-arrow {
    @apply dark:border-r-custom-dark;
  }

  .timeline-container::after {
    @apply dark:bg-[#C4C8B8]
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-size: 190px 190px;
  background-color: #D6DAC8;
}


.Typewriter {
  display: inline;
}

.header-stick {
  display: flex;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 1.3%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  position: relative;
  margin-top: 12%;
}

@media screen and (max-width: 1023px) {
  .container {
    position: relative;
    margin-top: 20%;
  }
}

@media screen and (max-width: 950px) {
  .container {
    position: relative;
    margin-top: 30%;
  }
}


#welcome-section {
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

#welcome-section .statment {
  width: 50%;
}

#welcome-section .btn-section {
  width: 30%;
}

/* #welcome-section p span {
  display: block;
  margin: 2% 0;
} */

@media screen and (max-width: 1615px) {
  #welcome-section .statment {
    width: 70%;
  }
  
  #welcome-section .btn-section {
    width: 40%;
  }
}

@media screen and (max-width: 1370px) {
  #welcome-section .statment {
    width: 60%;
  }
  
  #welcome-section .btn-section {
    width: 40%;
  }
}

@media screen and (max-width: 1255px) {
  #welcome-section .statment {
    width: 65%;
  }
  
  #welcome-section .btn-section {
    width: 45%;
  }
}

@media screen and (max-width: 1250px) {
  #welcome-section {
    margin-left: 2%;
    margin-right: 2%;
  }

  #welcome-section .statment {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  #welcome-section {
    margin: 0;
  }
}

@media screen and (max-width: 1105px) {
  #welcome-section .statment {
    width: 65%;
  }
  
  #welcome-section .btn-section {
    width: 50%;
  }
}


@media screen and (max-width: 823px) {
  #welcome-section {
    flex-direction: column;
    text-align: start;
    width: 100%;
    padding: 5% 2%;
  }

  #welcome-section .statment {
    width: 100%;
  }

  #welcome-section .btn-section {
    width: 100%;
  }
}

.navigator {
  margin: 3% 0;
}

.img-bg-container {
  opacity: 0.8;
  height: 300px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.my-img-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


@media screen and (max-width: 720px) {
  .my-img-container .img {
    width: 330px !important;
    height: 350px !important;
  }
}

.fade-in-section {
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Initially offset */
  transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
}

.cards {
  width: 70%;
  padding: 0;
  margin: 0;
}

.card {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  cursor: pointer;
}

.card-title {
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: #353535;
  padding: 3%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body {
  width: 70%;
  transition: width 0.3s ease-in-out;
}

.card-body:hover {
  width: 70.5%;
}


@media screen and (max-width: 1279px) {
  .cards {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .cards {
    width: 100%;
  }

  .card-title, .card-body {
    width: 95%;
  }

  .card-body:hover {
    width: 95.5%;
  }

  .work-title {
    margin-top: 20%;
    position: sticky;
    top: 300px;
  }
}

.timeline-container {
  position: relative;
  max-width: 12000px;
  margin: 100px auto;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #1F2937;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.inner-timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.inner-timeline-container:nth-child(2) {
  animation-delay: 1s;
}

.inner-timeline-container:nth-child(3) {
  animation-delay: 2s;
}

.inner-timeline-container:nth-child(4) {
  animation-delay: 3s;
}

.inner-timeline-container:nth-child(5) {
  animation-delay: 4s;
}

.timeline-text {
  padding: 20px 30px;
  /* background-color: #fff; */
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.timeline-text h2 {
  font-weight: 600;
}

.timeline-text small {
  display: inline-block;
  margin-bottom: 15px;
}

.timeline-left-container {
  left: 0;
}

.timeline-right-container {
  left: 50%;
}

.timeline-container .timeline-image {
  position: absolute;
  width: 5%;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.timeline-right-container .timeline-image {
  left: -20px;
}

@media screen and (max-width: 1520px) {
  .timeline-container .timeline-image {
    right: -15px;
  }
  
  .timeline-right-container .timeline-image {
    left: -15px;
  }
  
}

@media screen and (max-width: 1400px) {
  .timeline-container .timeline-image {
    width: 6%;
  }
  
}

@media screen and (max-width: 1150px) {
  .timeline-container .timeline-image {
    width: 8%;
  }
  
}


.timeline-left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #C4C8B8;
  right: -15px;
}

.timeline-right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #C4C8B8;
  left: -15px;
}



@media screen and (max-width: 760px) {
  .timeline-container {
    margin: 50px auto;
  }

  .timeline-container::after {
    left: 31px;
  }

  .inner-timeline-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .timeline-container .timeline-image {
    right: 0;
  }
  

  .timeline-text {
    font-size: 13px;
  }

  .timeline-text small {
    margin-bottom: 10px;
  }

  .timeline-right-container {
    left: 0;
  }

  .timeline-left-container .timeline-image, .timeline-right-container .timeline-image {
    left: 10px;
  }

  .timeline-left-container-arrow, .timeline-right-container-arrow {
    border-right: 15px solid #C4C8B8;
    border-left: 0;
    left: -15px;
  }

  @layer base{
    .timeline-left-container-arrow, .timeline-right-container-arrow {
      @apply dark:border-r-custom-dark;
    }
  }
}
