@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-gradient-color: #393636;
}

/* For dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base{
  body {
    @apply dark:bg-[#1A1A1A] bg-white
  }

  #welcome-section {
    @apply dark:bg-[#1d1d1d] bg-[#C4C8B8]
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-size: 190px 190px;
  background-color: #D6DAC8;
}


.Typewriter {
  display: inline;
}

.header-stick {
  display: flex;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 1.3%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  position: relative;
  margin-top: 12%;
}

@media screen and (max-width: 1023px) {
  .container {
    position: relative;
    margin-top: 20%;
  }
}

@media screen and (max-width: 950px) {
  .container {
    position: relative;
    margin-top: 30%;
  }
}


#welcome-section {
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

#welcome-section p {
  width: 50%;
}

#welcome-section .btn-section {
  width: 30%;
}

#welcome-section p span {
  display: block;
  margin: 2% 0;
}

@media screen and (max-width: 1615px) {
  #welcome-section p {
    width: 70%;
  }
  
  #welcome-section .btn-section {
    width: 40%;
  }
}

@media screen and (max-width: 1370px) {
  #welcome-section p {
    width: 60%;
  }
  
  #welcome-section .btn-section {
    width: 40%;
  }
}

@media screen and (max-width: 1255px) {
  #welcome-section p {
    width: 65%;
  }
  
  #welcome-section .btn-section {
    width: 45%;
  }
}

@media screen and (max-width: 1250px) {
  #welcome-section {
    margin-left: 2%;
    margin-right: 2%;
  }

  #welcome-section p {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  #welcome-section {
    margin: 0;
  }
}

@media screen and (max-width: 1105px) {
  #welcome-section p {
    width: 65%;
  }
  
  #welcome-section .btn-section {
    width: 50%;
  }
}


@media screen and (max-width: 823px) {
  #welcome-section {
    flex-direction: column;
    text-align: start;
    width: 100%;
    padding: 5% 2%;
  }

  #welcome-section p {
    width: 100%;
  }

  #welcome-section .btn-section {
    width: 100%;
  }
}

.navigator {
  margin: 3% 0;
}

.img-bg-container {
  /* background-color: #e5e5f7; */
  opacity: 0.8;
  /* background-image:  linear-gradient(30deg, #2B2B2B 12%, transparent 12.5%, transparent 87%, #2B2B2B 87.5%, #2B2B2B), linear-gradient(150deg, #2A2A2A 12%, transparent 12.5%, transparent 87%, #2A2A2A 87.5%, #2A2A2A), linear-gradient(30deg, #2A2A2A 12%, transparent 12.5%, transparent 87%, #2A2A2A 87.5%, #2A2A2A), linear-gradient(150deg, #2C2C2C 12%, transparent 12.5%, transparent 87%, #2C2C2C 87.5%, #2C2C2C), linear-gradient(60deg, #2C2C2C 25%, transparent 25.5%, transparent 75%, #2C2C2C 75%, #2C2C2C), linear-gradient(60deg, #2B2B2B 25%, transparent 25.5%, transparent 75%, #2B2B2B 75%, #2B2B2B); */
  /* background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px; */
  height: 300px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.my-img-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.my-img-container .img {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.my-img-container .img:hover {
  filter: grayscale(0%);
}

@media screen and (max-width: 720px) {
  .my-img-container .img {
    width: 330px !important;
    height: 350px !important;
  }
}

.fade-in-section {
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Initially offset */
  transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
}

.cards {
  width: 70%;
  padding: 0;
  margin: 0;
}

.card {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  cursor: pointer;
}

.card-title {
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: #353535;
  padding: 3%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body {
  width: 70%;
  transition: width 0.3s ease-in-out;
}

.card-body:hover {
  width: 70.5%;
}


@media screen and (max-width: 1279px) {
  .cards {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .cards {
    width: 100%;
  }

  .card-title, .card-body {
    width: 95%;
  }

  .card-body:hover {
    width: 95.5%;
  }

  .work-title {
    margin-top: 20%;
    position: sticky;
    top: 300px;
  }
}


